.card-title{
    color: #BB86FC;
}
.card-body{
    background-color: #252525;
    color: #b0b0b0;
}
.btn {
    background-color: #03DAC6;
    color: #121212;
}
.cerrarvideo{
    background-color: #BB86FC; color: #121212;
}
h1{
    color:#BB86FC;
}
h3{
    color: aquamarine;
}
body{
    color: #b0b0b0;
}
.modal{
    background-color: #121212;
}
.Imagenes{
    width: 350px;

}
.ImagenesG{
    width: 600px;
}
thead{
    color: #03DAC6;
}
.Codigo{
    background-color: #50505A;
}
